.individual-car {

    padding: 10px;

    background-color: rgb(109, 236, 158);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.individual-car img {

    border-radius: 8px;
}

.hole-container {
    background-color: rgb(26, 112, 93);
    padding-top: 30px;
    padding-bottom: 30px;
}

.manage-inventory-button {
    border: none;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 9px;
    padding-right: 9px;
    background-image: linear-gradient(orange, crimson);
    color: white;
    font-weight: 700;
    width: 40%;
}